<div class="container bg">
    <div class="row header text-center">
        <div class="center col-sm-12">
            <img class="img-responsive icon" src="/assets/img/burger.png" alt="Eat-Da-Burger" width="250px">
            <h1>Eat-Da-Burger!</h1>
        </div>
    </div>

    <br>

    <div class="newBurger text-center">
        <input type="text" class="form-control" id="name" placeholder="Can I get a...">

        <br>

        <button type="submit" id="submit">
            Add-A-Burger!
        </button>
    </div>

    <br>

    <div class="row">
        {{!-- left side --}}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="notDevoured">
            <h2>UNDEVOURED Burgers</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{this.burger_name}}
                </li>
                <button class="btnDevour" data-id={{this.id}} data-newDevour="{{devoured}}">
                    Devour it!
                </button>
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        {{!-- right side --}}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="devoured">
            <h2>DEVOURED Burgers</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>

        </div>

    </div>

</div>